@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    background: url('imgs/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: Lato, sans-serif;
}

.container{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.089);
}

.wrapper{
    padding: 2.4rem 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.current{
    display: flex;
    justify-content: space-between;
}

.weather-info.left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.city{
    font-size: 3.4rem;
    letter-spacing: 1.2px;
    font-weight: 700;
}

.temperature{
    display: flex;
    align-items: center;
    margin-left: -7px;
    
}

.temperature-text{
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.temperature-text span{
    font-weight: 600;
}

.temperature img{
    width: 50px;
    height: 50px;
}

.condition-text{
    font-size: 2.1rem;
}


.condition{
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: -20px;
}

.condition-icon{
    width: 100px;
    height: 100px;
}

.date{
    font-size: 2.2rem;
}

.time{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.time-temp{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -15px;
}

input{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #fff;
    outline: none;
    color: #fff;
    font-size: 1.4rem;
    width: 220px;
    letter-spacing: 0.8px;
    padding-left: 5px;
    padding-top: 1px;
}

input::placeholder{
    color: #fff;
    font-size: 1.2rem;
    opacity: 0.8;
}

.not-found{
    margin-top: -5px;
    margin-left: 5px;
    opacity: 0.9;
}

.fa-magnifying-glass{
    font-size: 1.4rem;
    margin-bottom: 5px;
    transition: all 0.2s;
}

.fa-magnifying-glass:hover{
    transform: scale(1.05);
    text-shadow: 0 0 3px #fff;
}

.fa-magnifying-glass:active{
    transform: scale(1);
    text-shadow: 0 0 0px #fff;
}

.weather-info.right{
    /*padding-right: 1rem;*/
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.blocs{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.two-blocks{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.weather-block{
    display: flex;
    align-items: center;
    gap: 10px;
}

.weather-block i{
    font-size: 3rem;
}

.weather-text{
    line-height: 30px;
}

.w-title{
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    
}

.w-text{
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 5px;
    letter-spacing: 1px;
}

.daily{
    display: flex;
    align-items: center;
    gap: 80px;
   margin-bottom: -15px;
}

.daily-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.day{
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.8px;
}

.d-temp{
    font-size: 1.2rem;
}


.d-icon{
    width: 70px;
    height: 70px;
    margin-top: -3px;
}    

.dh{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.dh > div{
    text-transform: uppercase;
    padding: 6px;
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: 1.2px;
   border: 3px solid #fff;
   transition: all 0.3s;
}

.switch-d.active,
.switch-h.active{
    color: #000;
    background-color: #fff;
}

.dh  div:hover{
    color: #000;
    background-color: #fff;
}

.hourly{
    display: none;
    align-items: center;
    gap: 80px;
    margin-bottom: -16px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.dhn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 24%;
    left: 60px;
    width: 91%;
}

.h-nav{
    display: none;
    align-items: center;
    gap: 10px;
}

.hourly-div{
    display: flex;
    flex-direction: column;
    align-items: center;
   gap: 5px;
   
}

.h-link{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: all 0.3s;
    background-color: #fff;
}

.h-link.active {
    width: 30px;
    border-radius: 5px;
}

.h-row{
    display: flex;
    align-items: center;
    gap: 80px;
    width: 100%;
} 

.h-time{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.h-temp{
    font-size: 1.3rem;
    white-space: nowrap;
}

.h-icon{
    margin-top: -3px;
}

.cf-btn{
    width: 90px;
    height: 33px;
    font-size: 1.2rem;
    color: #fff;
    background-color: transparent;
    border: 2.5px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 7px;
    align-self: center;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.cf-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 4px #fff;
    text-shadow: 0 0 2px #fff;
}



.cf-btn:active{
    transform: scale(1);
    box-shadow: 0 0 0px #fff; 
    text-shadow: 0 0 0px #fff;
}

.cf-btn span.active{
    font-weight: bolder;
    text-shadow: 0 0 2px #fff;
}

.dh.for-m{
    display: none;
}

@media (max-width: 1110px) {
    .dhn{
        width: 85%;
    }
     .hourly{
        gap: 60px
     }
    .h-row{
       gap: 60px;
    }
}

@media (max-width: 1000px) {
    .dhn{
        width: 84%;
        bottom: 20%;
    }
     .hourly{
        gap: 40px;
        margin-bottom: -18px;
     }
    .h-row{
       gap: 40px;
    }
   .h-time{
    font-size: 1.2rem;
   }
   .h-temp{
    font-size: 1.1rem;
   }
   .weather-info.left{
    gap: 10px;
   }
   .blocs{
    gap: 10px;
   }
   .two-blocks{
    gap: 10px;
   }
   .time-temp{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
   .weather-info.right{
    gap: 18px;
   }
   .h-icon {
    margin-top: -5px;
    width: 50px;
    height: 50px;
}
.daily{
    margin-bottom: -17px;
}
.day{
    font-size: 1.3rem;
}
.d-temp{
    font-size: 1rem;
}
.d-icon{
    width: 60px;
    height: 60px;
    margin-top: -5px;
}
}
@media (max-width: 780px) {
    .wrapper{
        padding: 2rem 2.5rem;
    }
    .dhn{
        width: 84%;
        bottom: 18%;
        left: 45px;
    }
    .h-nav{
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }
     .hourly{
        gap: 30px;
        margin-bottom: -17px;
        overflow: auto;
     }
     .hourly::-webkit-scrollbar{
        width: 5px;
        height: 8px;
        background-color: transparent;
     }
     .hourly::-webkit-scrollbar-thumb{
        background: #2f3944;
        border-radius: 5px;
     }
    .h-row{
       gap: 30px;
    }
   .h-time{
    font-size: 1.1rem;
   }
   .h-temp{
    font-size: 1rem;
   }
   .weather-info.left{
    gap: 8px;
   }
   .weather-info.right{
    gap: 12px;
   }
   .blocs{
    gap: 12px;
   }
   .two-blocks{
    gap: 12px;
   }
   .h-icon {
    margin-top: -5px;
    width: 40px;
    height: 40px;
}
.daily{
    margin-bottom: -16px;
}

.day{
    font-size: 1.3rem;
}
.d-temp{
    font-size: 1rem;
}
.d-icon{
    width: 55px;
    height: 55px;
    margin-top: 0px;
}
.city {
    font-size: 3rem;
    letter-spacing: 0.9px;
    font-weight: 600;
}
.date{
    font-size: 1.8rem;
}
.time {
    font-size: 1.8rem;
    letter-spacing: 0.8px;
    margin-bottom: 3px;
}
.temperature{
    margin-left: -5px;
}
.temperature img {
    width: 40px;
    height: 40px;
}
.temperature-text {
    font-size: 2.1rem;
    letter-spacing: 0.7px;
}
.condition {
    gap: 2px;
    margin-top: -20px;
}
.condition-text {
    font-size: 1.9rem;
}
.condition-icon {
    width: 80px;
    height: 80px;
}
label {
    gap: 5px;
    margin-top: -17px;
}
input{
    font-size: 1.2rem;
    width: 190px;
    letter-spacing: 0.6px;
    padding-left: 3px;
    padding-top: 1px;
}
input::placeholder{
    font-size: 1.1rem;
    letter-spacing: 0.6px;
}
.fa-magnifying-glass {
    font-size: 1.2rem;
    margin-bottom: 2px;
    transition: all 0.3s;
}
.weather-block {
    display: flex;
    align-items: center;
    gap: 8px;
}
.weather-block i {
    font-size: 2.5rem;
}
.weather-icon img{
    width: 42px;
    height: 42px;
}
.w-title {
    font-size: 1.2rem;
    letter-spacing: 0.3px;
    line-height: 25px;
}
.w-text {
    font-size: 1.1rem;
    margin-left: 4px;
    letter-spacing: 0.8px;
    line-height: 25px;
}
.cf-btn {
    width: 70px;
    height: 25px;
    font-size: 1rem;
    color: #fff;
    border: 2px solid #fff;
    display: flex;
    border-radius: 5px;
    gap: 5px;
    margin-right: 20px;
}
.cf-btn:hover{
    box-shadow: 0 0 3px #fff;
    text-shadow: 0 0 1px #fff;
}
.not-found{
    margin-top: -4px;
    margin-left: 3px;
    font-size: 13px;
}
}
@media (max-width: 680px) {
    body{
        background-size: auto;
    }
    .wrapper{
        padding: 1.5rem 2rem;
    }
    .dhn{
        width: 85%;
        bottom: 15%;
        left: 40px;
    }
     .hourly{
        gap: 20px;
        margin-bottom: -17px;
     }
    .h-row{
       gap: 20px;
    }
   .h-time{
    font-size: 0.9rem;
   }
   .h-temp{
    font-size: 0.8rem;
   }
   .hourly-div{
    gap: 3px;
   }
   .weather-info.left{
    gap: 12px;
   }
   .weather-info.right{
    gap: 14px;
   }
   .blocs{
    gap: 14px;
   }
   .two-blocks{
    gap: 14px;
   }
   .time-temp{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
   .h-icon {
    margin-top: -4px;
    width: 35px;
    height: 35px;
}
.daily{
    margin-bottom: -18px;
}

.day{
    font-size: 1.1rem;
}
.d-temp{
    font-size: 0.9rem;
}
.d-icon{
    width: 40px;
    height: 40px;
    margin-top: 0px;
}
.daily-div{
    gap: 3px;
}
.city {
    font-size: 2.5rem;
    letter-spacing: 0.7px;
    font-weight: 600;
}
.date{
    font-size: 1.5rem;
}
.time {
    font-size: 1.5rem;
    letter-spacing: 0.7px;
    margin-bottom: 3px;
}
.temperature{
    margin-left: -5px;
}
.temperature img {
    width: 35px;
    height: 35px;
}
.temperature-text {
    font-size: 1.7rem;
    letter-spacing: 0.7px;
}
.condition {
    gap: 2px;
    margin-top: -15px;
}
.condition-text {
    font-size: 1.5rem;
}
.condition-icon {
    width: 60px;
    height: 60px;
}
label {
    gap: 5px;
    margin-top: -13px;
}
input{
    font-size: 1rem;
    width: 160px;
    letter-spacing: 0.4px;
    padding-left: 3px;
    padding-top: 1px;
}
input::placeholder{
    font-size: 0.9rem;
    letter-spacing: 0.4px;
}
.fa-magnifying-glass {
    font-size: 1rem;
    margin-bottom: 1px;
}
.weather-block {
    display: flex;
    align-items: center;
    gap: 5px;
}
.weather-block i {
    font-size: 2rem;
}
.weather-icon img{
    width: 35px;
    height: 35px;
}
.w-title {
    font-size: 1rem;
    letter-spacing: 0.2px;
    line-height: 20px;
}
.w-text {
    font-size: 0.9rem;
    margin-left: 3px;
    letter-spacing: 0.6px;
    line-height: 20px;
}
.cf-btn {
    width: 65px;
    height: 22px;
    font-size: 0.8rem;
    color: #fff;
    border: 2px solid #fff;
    display: flex;
    border-radius: 4px;
    gap: 4px;
    margin-right: 20px;
}
.cf-btn:hover{
    box-shadow: 0 0 3px #fff;
    text-shadow: 0 0 1px #fff;
}
.not-found{
    margin-top: -4px;
    margin-left: 3px;
    font-size: 13px;
}
.dh > div {
    padding: 4px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid #fff;
}
}
@media (max-width: 520px) {
    .current{
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    .weather-info.left{
        align-items: center;
        gap: 17px
    }
    .time-temp{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .city {
        font-size: 3.5rem;
        letter-spacing: 0.9px;
        font-weight: 600;
    }
    .date {
        font-size: 2rem;
    }
    .time {
        font-size: 2.5rem;
        letter-spacing: 0.9px;
        margin-bottom: 5px;
    }
    .temperature-text {
        font-size: 2.5rem;
        letter-spacing: 0.7px;
    }
    .temperature img {
        width: 50px;
        height: 50px;
    }
    .temperature {
        margin-left: 0px;
    }
    .time-temp{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .temperature{
        align-items: normal;
    }
    .temperature img {
        margin-right: -5px;
    }
    .condition-text {
        font-size: 2rem;
    } 
    .condition-icon {
            width: 100px;
            height: 100px;
        }
        .condition {
            gap: 2px;
            margin-top: -20px;
        }
        label {
            gap: 5px;
            margin-top: -10px;
        }
        input {
            border-bottom: 3px solid #fff;
            outline: none;
            color: #fff;
            font-size: 1.4rem;
            width: 250px;
            letter-spacing: 0.8px;
            padding-left: 5px;
            padding-top: 1px;
        }
        input::placeholder{
            font-size: 1.4rem;
            letter-spacing: 0.8px;
        }
        .fa-magnifying-glass {
            font-size: 1.4rem;
            margin-bottom: 5px;
        }
        .not-found {
            margin-top: -10px;
            margin-left: -72px;
            font-size: 16px;
        }
        .weather-info.right {
            gap: 25px;
        }
        .blocs{
            gap: 14px;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
           }
           .two-blocks{
            gap: 18px;
           }
           .weather-block i {
            font-size: 2.5rem;
        }
        .weather-icon img {
            width: 45px;
            height: 45px;
        }
        .w-title {
            font-size: 1.3rem;
            letter-spacing: 0.5px;
            line-height: normal;
        }
        .w-text {
            font-size: 1.2rem;
            margin-left: 4px;
            letter-spacing: 0.8px;
            line-height: normal;
        }
        .weather-block {
            gap: 8px;
        }
        .cf-btn {
            width: 90px;
            height: 33px;
            font-size: 1.2rem;
            color: #fff;
            border: 2.5px solid #fff;
            border-radius: 5px;
            gap: 7px;
            align-self: center;
            margin-right: 0px;
        }
        .dh {
             width: 100%;
            gap: 25px;
        }     
        .dhn{
           position: static;
           margin-bottom: 20px;
           margin-top: 30px;
           width: 98%;
           
        } 
        .daily {
            display: flex;
           flex-direction: column;
            gap: 20px;
            margin-bottom: 0;
        }
        .daily-div {
            flex-direction: row;
            gap: 15px;
            align-items: center;
        }
        .day {
            font-size: 1.4rem;
        }
        .d-temp {
            font-size: 1.3rem;
        }
        .d-icon {
            width: 65px;
            height: 65px;
            margin-top: 0px;
        }
        .hourly {
            margin-bottom: 0px;
            gap: 60px;
        }
        .h-row {
            display: flex;
            align-items: center;
          flex-direction: column;
          width: 100%;
        }
        .hourly-div {
            flex-direction: row;
            align-items: center;
            gap: 0px;
        }
        .h-time {
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: 0.7px;
            width: 200px;
        }
        .h-temp{
            font-size: 1.4rem;
            font-weight: 600;
            width: 100px;
        }
        .h-icon {
            margin-top: -5px;
            width: 70px;
            height: 70px;
        }
        .dh > div {
            padding: 6px;
            font-size: 1.05rem;
            font-weight: 600;
            letter-spacing: 1.2px;
            border: 3px solid #fff;
        }
        .h-link {
            width: 15px;
            height: 15px;
        }
        .h-link.active {
            width: 35px;
            border-radius: 7px;
        }
    }
    @media (max-width: 400px) {
        .h-time {
            font-size: 1.4rem;
            font-weight: 600;
            letter-spacing: 0.7px;
            width: 150px;
        }
        .h-temp {
            font-size: 1.3rem;
            font-weight: 600;
            width: 90px;
        }
        .hourly {
            gap: 40px;
        }
        .w-title {
            font-size: 1.2rem;
            letter-spacing: 0.3px;
            white-space: nowrap;
        }
        .w-text {
            font-size: 1.1rem;
            margin-left: 4px;
            letter-spacing: 0.8px;
        }
        .weather-block i {
            font-size: 2rem;
        }
        icon img {
            width: 30px;
            height: 30px;
        }
    }
    @media (max-height: 700px) {
        .dhn{
            position: static;
            margin-bottom: 20px;
            margin-top: 60px;
            width: 100%;
         } 
         .hourly{
            overflow: auto;
         }
         .hourly::-webkit-scrollbar{
            width: 4px;
            height: 6px;
            background-color: transparent;
         }
         .hourly::-webkit-scrollbar-thumb{
            background: #2f3944;
            border-radius: 5px;
         }
    }

    @media (min-height: 830px) {
        .dhn{
            position: static;
            margin-bottom: 20px;
            margin-top: 30px;
            width: 100%;
         } 
         .hourly{
            overflow: auto;
         }
         .hourly::-webkit-scrollbar{
            width: 5px;
            height: 8px;
            background-color: transparent;
         }
         .hourly::-webkit-scrollbar-thumb{
            background: #2f3944;
            border-radius: 5px;
         }
    }
    
